
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.navbar ul{
 overflow: auto;
}

.navbar li{
    border: 1px solid black;
    border-radius: 30px;
    float: left;
    padding:8px;
    list-style: none;
    margin: 10px 10px;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    cursor: pointer;
}

.navbar li:hover{
   background-color: blueviolet;
   color: white;
}

.parent{
    width:100%;
    float:center;
}
.header{
    margin-top: 0%;
    height: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* border:2px solid rgb(175, 45, 45); */
    color:rgb(0, 0, 0);
    padding: 4px;
}
.left{
    width: 15%;
    height:700px;
    /* background-color: cornflowerblue; */
    /* border:2px solid rgb(96, 6, 89); */
    float:left;
}

.homep{
    font-family: system-ui;
    padding: 10px;
}
.center{
    width: 65%;
    height:700px;
    background-color: rgb(229, 181, 243);
    /* border:2px solid darkblue; */
    float:left;
}
.right{
    width: 20%;
    height:700px;
    background-color: rgb(166, 236, 161);
    /* border:2px solid rgb(4, 63, 25); */
    float:left;
}
.footer{
    text-align: center;
    /* background-color: burlywood; */
    /* border:2px solid brown; */
    color:rgb(3, 3, 3);
    padding: 15px;
}
.newheader li{
    border: 1px solid black;
    border-radius: 30px;
    /* float: left; */
    padding:8px;
    list-style: none;
    margin: 10px 10px;
    text-align: center;
}

.newheader li a{
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
    cursor: pointer;
}

.newheader li:hover{
   background-color: blueviolet;
   color: white;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6pc;
    margin-left: 28px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: larger;
}

.newbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px;
}

.join{
    border: 1px solid;
    border-radius: 23px;
    padding: 12px 30px 9px 30px;
}
.join:hover{
    background-color: blueviolet;
    color: white;
}
.contain{
    margin: 23px;
}
.newspace{
  
    margin: 5px;
}

.image img{
    width: 560px;
    height: 270px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
